version: '3'
services:

  locust:
    image: docker.io/locustio/locust
    volumes:
      - ./locustfile.py:/locustfile.py
    command: --host http://service:8000 -f /locustfile.py
    depends_on:
      - service
    ports:
      - '8089:8089'

  service:
    build: .
    restart: always
    command: uvicorn --host 0.0.0.0 --log-config logging.conf transfer:app
    environment:
      DATABASE_URL: postgresql://user:pass@db:5432/db
      DATABASE_MIN_POOL_SIZE: 5
      DATABASE_MAX_POOL_SIZE: 10
    depends_on:
      - db
    ports:
      - '8000:8000'

  db:
    image: docker.io/library/postgres:12
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  pgdata:
